[type = "submit"]{
	border: 0;
background: none;

margin: 20px auto;
text-align:center;
border: 2px solid #2ecc71;
padding: 14px 40px; 
background-color: rgba(33, 33, 18, 0.5);
outline: none;
color: white;
border-radius: 24px;
transition: 0.25s;
cursor: pointer;
}
[type = "submit"]:hover{
	background: #2ecc71;
}

[name = "logout"]{
	border: 0;
background: none;

margin: 20px auto;
text-align:center;
border: 2px solid red;
padding: 14px 40px; 
background-color: rgba(33, 33, 18, 0.5);
outline: none;
color: white;
border-radius: 24px;
transition: 0.25s;
cursor: pointer;
}
[name = "logout"]:hover{
	background: red;
}