body
{
	margin: 0;
	padding: 0;
    background: #FF4500	;
    font-family: sans-serif;
}
.container{
	text-align: center;
	
	width: 100%;
}

.container span{
	color: white;
	text-transform: uppercase;
	display: block;
}
.text1{
	color: white;
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 8px;
	margin-bottom: 20px;
	background: blue	;
	position: relative;
    animation: text 3s 1;
}
.text2{
	font-size: 30px;
	color: #6ab04c;
}
@keyframes text{
	0%{
		color: blue;
		margin-bottom: -40px;
	}
	30%{
		letter-spacing: 25px;
		margin-bottom:-40px;
	}
	85%{
		letter-spacing: 8px;
		margin-bottom: -40px;
	}
}
.box{
	width: fill;
	padding: 40px;
	position: absolute	;
	
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba( 00,00,00,0.50);
	text-align:center;
	margin-top: 300px;
}

input[type = "submit"]{
	
	
border: 0;
background: none;
display: block;
margin: 20px auto;
text-align:center;
border: 2px solid #2ecc71;
padding: 14px 40px; 
width: 200px;
outline: none;
color: white;
border-radius: 24px;
transition: 0.25s;
cursor: pointer;
	text-decoration: none;


}
.c1 input[name= "submit"]:hover{
	background: #2ecc71;
}
.c5 input[type= "submit"]:hover{
	background: rgb(234,00,00);
}

